<h1>DvD</h1>
{{#link-to 'dvd.rental'}}Rental{{/link-to}}
{{#link-to 'dvd.available'}}Available{{/link-to}}
{{#link-to 'dvd.new'}}New{{/link-to}}
{{#link-to 'dvd.upcoming'}}Upcoming{{/link-to}}
{{outlet}}

